html{
	background: url("../img/computer_science.JPG") no-repeat center center;

	min-height: 100%;

	background-size: cover;
}

body{
	min-height: 100%;
}

#slideshow {
	color: white;
	position: absolute;
	left: 0;
	width: 100%;
}