html{
    min-height : 100%;
    background-image: url('../img/bg/spain.jpg');
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size : cover;
    background-postion : 50% 50%;
}

body{
	min-height: 100%;
}

#about{
    padding: 10px;
    background-color: rgba(255,255,255,0.6);
}